<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="1kynNEj-BQdH0nkw6hsgnphkj3Wbf9sj3QtCdNQAP-Q" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
