<head>
    <title>Contact US</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<style>
    .active {
        color: blue !important;
    }
</style>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light sticky-top">
        <div class="container px-sm-0 px-lg-5">
            <a class="navbar-brand" href="/">
                <img class="rounded-pill" src="images/logo.jpg" alt="Golden Bed Logo" height="45">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-0 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
                <form>
                    <a class="btn btn-outline-dark p-0 p-lg-1" style="display: block;" href="/checkout" action="get">
                        <i class="bth bi-cart-fill"></i>
                        Cart<span class="badge bg-sm-info" id="cardSize" style="color:black;">{{cardSize}}</span>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center m-4 text-success">We recieved your order</h1>
        <hr class="mt-2 mb-3" />
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-dark" href="/" method="get">Back Home</a>
    </div>
    </div>
</body>